body {
    background-color: #222;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}


header {
    background: #55d6aa;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin: 0;
    overflow: hidden;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
    float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding-top: 23px;
  padding-bottom: 15px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 350ms;
}

nav a:hover::before {
  width: 100%;
}

.slidein {
    position: relative;
    animation-timing-function: linear;
    animation: mymove 7s infinite;
    animation-direction: alternate-reverse;
}

@keyframes mymove {
    from {
        right: -75px;
    }

    to {
        right: 75px;
    }
}

.scratch {
    height: 500px;
    width: 500px;
    border-style:  ridge;
    border-width: 10px;
    border-color: #F2F4F3;
    margin-left: 36.5%;
    margin-top: 10%
}

.overskrift {
    color: #F2F4F3;
    font: 'Work Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}

.scratchvideo{
    top: 450px;
    margin-left: 35px;
    position: absolute;
}

.scratchkodevideo {
    top: 450px;
    right: 35px;
    position: absolute;
}

html, body {
    max-width: 2000px;
    max-height: 1500px;
    min-width: 1700px;
    min-height: 0px;

}

.andsverklink {
    color: white;
    text-decoration: none !important;
    font: 'Work Sans', sans-serif;
    font-size: 30px;
    position: relative;
    left: 680px;
    text-align: center;
}

.escaperoom {
    overflow: hidden;
    position: relative;
    height: 1000px;
    right: -20%;
    border-style:  ridge;
    border-width: 7px;
    border-color: white;
    margin-top: 25px;
    background-color: #55d6aa;
    display: inline-block;
}
a:link{
    color: inherit;
}

.undertekst_h {
    color: #F2F4F3;
    min-width: 280px;
    max-width: 300px;
    background-color: #444;
    padding: 50px;
    margin: 70px;
    top: 10px;
    left: 115px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-color: #55d6aa;
    border-style: solid;
    border-width: 5px;
}

.undertekst_v {
    color: #F2F4F3;
    width: 300px;
    background-color: #444;
    padding: 50px;
    margin: 70px;
    top: 10px;
    left: 115px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-color: #55d6aa;
    border-style: solid;
    border-width: 5px;
}

.internett_sidetekst {
    color: #F2F4F3;
    position: absolute;
    margin-left: 65%;
    top: 300px;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}

.internettbilde1{
    position: relative;
    float: right;
    top: 200px;
    right: 20px;
}


.internettbilde2 {
    position: relative;
    float: right;
    top: 200px;
    right: 30px;
}

.internettbilde3 {
    position: relative;
    float: right;
    top: 200px;
    right: 60px;
}

.kilder {
    color: #F2F4F3;
    text-decoration: none!important;
    width: 300px;
    background-color: #444;
    padding: 50px;
    top: 250px;
    padding-bottom: 30px;
    margin-left: 40%;
    display: inline-block;
    position: absolute;
    border-color: #55d6aa;
    border-style: solid;
    border-width: 5px;
}

.dokumentasjon {
    top: 100px;
    margin-left: 30%;
    position: relative;
}

