body {
    background-color: #222;
}
.container {
    width: 90%;
    margin: auto;
}


header {
    background: #55d6aa;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
    float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding-top: 23px;
  padding-bottom: 15px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 350ms;
}

nav a:hover::before {
  width: 100%;
}

.slidein {
    position: relative;
    animation-timing-function: linear;
    animation: mymove 7s infinite;
    animation-direction: alternate-reverse;
}

@keyframes mymove {
    from {
        right: -75px;
    }

    to {
        right: 75px;
    }
}

/*Teksten under overskriften på hovedsiden, venstre side*/
.undertekst_v {
    width: 300px;
    background-color: #EDD3C4;
    padding: 50px;
    margin: 70px;
    top: 300px;
    text-align: center;
}

/*Teksten under overskriften på hovedsiden, midten*/
.undertekst_m {
    width: 300px;
    background-color: #EDD3C4;
    padding: 50px;
    margin: 70px;
    text-align: center;
    position: relative;
}
.overskrift {
    color: #F2F4F3;
    font: 'Work Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}
